version: '3.4'

services:
  http:
    build:
      context: .
      dockerfile : Dockerfile
    container_name: php
    depends_on:
      - mysql   
    volumes:
      - ./app:/var/www/html
    ports:
      - 9000:80
  
  mysql:
    build:
      context: .
      dockerfile : bdd/Dockerfile 
    container_name: database
    command: --default-authentication-plugin=mysql_native_password
    restart: always
  
  admindb:
    container_name: phpmyadmin
    image: phpmyadmin:latest
    restart: always
    ports:
      - 9001:80
    environment:
      #- PMA_ARBITRARY=1
        PMA_HOST: database
    depends_on:
      - mysql

